<app-navbar></app-navbar>


<div class="showPropPageID container-fluid">
    <div class="row">

        <!-- <div class="col-lg-6 col-12">
            <img src="../../../assets/img/{{ property_info['img'] }}/photo1.jpg" alt="" width="100%">
        </div>
        <div class="col-lg-6 col-12">
            <h3>{{ property_info["name"] }}</h3>
            <h5>{{ property_info["city"] }}</h5>
            <li>{{ property_info["address"] }}</li>
            <li>{{ property_info["price"] }} euro</li>
            <li>{{ property_info["size"] }} m<sup>2</sup> </li>
        </div> -->

    </div>
</div>


<app-footer></app-footer>